button {
background-color: #80B6A1;
}
body {
  background-color: #DEEDDF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  letter-spacing: 2px;
}
.input-placeholder {
  background-color: #DEEDDF;
  margin-left: 1000px;
  margin-bottom: 10px;
  width: 400px;
}
h1 {
  font-weight: lighter;
  letter-spacing: 2px;
}
h2 {
  font-weight: bold;
  letter-spacing: 2px;
}
h3 {
  font-weight: lighter;
  letter-spacing: 2px;
}
h4 {
  font-weight: lighter;
  letter-spacing: 2px;
  color: #293E40;
}
h5 {
  font-weight: bolder;
  letter-spacing: 2px;
  color: #293E40;
}
.header {
  margin: 50px 0px 50px 0px;
}
.content {
  padding: 16px;
}
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #293E40;
  color: #80B6A1;
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100%;
}
.allNews {
  margin-left: 10px;
  margin-right: 10px;
}
.right-half {
  background-color: #80B6A1;
  color: #293E40;
  position: absolute;
  right: 0px;
  width: 50%;
}
